aiosqlite
chromadb
clang==14.0
colorlog
graphviz
httpx
Jinja2
jsonref
langchain
langchain-chroma
langchain-core
langchain-openai
langchain-text-splitters
openai
orjson
pydantic
PyYAML
transformers
SQLAlchemy
shortuuid
toml